pydantic
requests
fluent_discourse == 1.0.1
redis
PyYAML
apscheduler
sqlalchemy
alembic
pytz

# frontend
eventlet
flask

# Optional for plugins
numpy
pandas
scipy
seaborn
tabulate
lxml
feedparser
beautifulsoup4
Jinja2